.about {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-cards {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  border-radius: 12px;
  background-color: bisque;
  border: brown 2px solid;
  padding: 20px;
  text-align: justify;
  h2 {
    color: brown;
    margin: 6px;
  }
  p
   {
    color: black;
    margin: 6px;
  }
}
