/* hero section styles */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url(/images/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding: 0;
  gap: 20px;
}
.hero-section h1 {
  text-shadow: 2px 2px 6px black;
  font-size: 36px;
  color: white;
}
.hero-section a {
  border: white solid 2px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 12px 4px;
  text-decoration: none;
  text-shadow: 2px 2px black;
  font-size: 24px;
  font-weight: 600;
  color: white;
  box-shadow: 2px 2px 8px black;
  transition: 0.3s;
}

.hero-section a:hover {
  background-color: orange;
  transform: scale(1.15);
}

/* subscribe form styles */
.subscribe-form {
  display: flex;
  align-items: center;
  background-color: brown;
  padding: 0 24px;
  color: white;
}

.subscribe-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.subscribe-info h1, .subscribe-info p {
  margin: 0;
  color: bisque;
}
.subscribe-form form {
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  padding: 12px ;
  gap: 6px;
}
.name-input {
  border: none;
  border-radius: 12px;
  background-color: bisque;
  height: 32px;
  width: 220px;
  padding: 0 16px;
  box-shadow: inset 2px 2px 2px grey;
}
.email-input {
  border: none;
  border-radius: 12px;
  background-color: bisque;
  height: 32px;
  width: 220px;
  padding: 0 16px;
  box-shadow: inset 2px 2px 2px grey;
}
.consent {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 6px;
}
.consent text {
  font-size: 12px;
}
.subscribe-form form button {
  background-color: white;
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: 600;
  box-shadow: 2px 2px 2px black;
}
.consent-checkbox {

}

/* featured content styles */
.featured-content {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  padding: 2px 32px;
}
.featured-content h1 {
  color: brown;
}
.content-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
.content-cards a {
  display: flex;
  flex-direction: column;
  border: 4px white solid;
  border-radius: 12px;
  margin: 6px;
  background-color: white;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 2px 2px 6px black;
  transition: 0.3s;
}
.content-cards a:hover {
  transform: scale(1.15);
}
.content-cards text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  padding: 2px 20px;
  font-size: 12px;
  font-weight: 500;
  color: black;
  text-align: center;
  justify-self: center;
}
.card-img {
  background-position: center;
  background-size: cover;
  height: 100%;
  aspect-ratio: 1.5;
}
.browse-all {
  padding: 8px 6px ;
  font-weight: 600;
  color: brown;
  text-align: right;
}

/* website info styles */
.website-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
}
.website-info img {
  width: 320px;
}
.website-info p {
  border-left: orange 4px solid;
  max-width: 420px;
  padding: 0 12px;
  font-weight: 600;
  color: brown;
  text-align: justify;
}