main {
  background-image: url(images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}
.about-cards {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  border-radius: 12px;
  background-color: bisque;
  border: brown 2px solid;
  padding: 20px;
  text-align: justify;
  h2 {
    color: brown;
  }
  p,
  li {
    color: black;
  }
}
